<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
    <title>Help</title>
</head>
<body>
    <div class="main-contant">
          {{>header}}
          <p>We are sorry we can not help you, number to contact {{number}}</p>
    </div>
   
    {{>footer}}
</body>
</html>